@import "./normalize.css";
@import "./nord.css";

@font-face {
  font-family: "Norse";
  src: url(../fonts/Norse-Bold.otf);
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  color: var(--nord0);
  background-color: var(--nord4);
  height: 100vh;
  display: flex;
  margin: 0px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#image-container {
  width: 50%;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/aurora.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#logo-container {
  width: 100%;
  padding: 1rem 0rem;
  background-color: #2e344090;
  gap: 1rem;
  margin-top: 25vh;
  margin-bottom: auto;
}

#logo-text {
  font-family: Norse;
  line-height: 8rem;
  font-size: 8rem;
  color: var(--nord6);
}

img {
  height: 8rem;
  width: auto;
}

a {
  color: inherit;
}

#image-credit {
  font-size: 1rem;
  font-weight: 200;
  color: var(--nord6);
}

#form-container {
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 2rem;
}

#form-block {
  background-color: var(--nord6);
  margin: 1rem -2rem;
  padding: 1rem 2rem;
  box-shadow: 0px 2px 4px var(--nord3);
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 2rem;
  list-style: none;
  margin: inherit;
  padding: 0rem 2rem;
}

li {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  font-variant-caps: all-petite-caps;
  padding: 0.2rem 0rem;
}

input {
  padding: 0.2rem;
  width: 20ch;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1.3rem;
}

#appeal {
  width: clamp(24ch 48ch 72ch);
}

button {
  color: var(--nord6);
  background-color: var(--nord10);
  font-size: 1.2rem;
  padding: 0.5rem 4rem;
  border-color: var(--nord10);
  border-radius: 8px;
  box-shadow: 2px 2px 4px var(--nord3);
}

#login {
  font-size: 1rem;
  font-weight: 500;
}

input:focus {
  outline-color: var(--nord10);
  box-shadow: 1px 1px 4px var(--nord3);
}

.error:invalid {
  outline-color: var(--nord11);
}
